.container {
  list-style: none;
  display: grid;
  grid-template-rows: 177px 177px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 177px);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 0;


  .item {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    height: 177px;
  }

  @for $i from 1 to 15 {
    $percentage: $i * 10;

   .item-#{$i} {
      background-color: adjust-hue( $base-color, $percentage );
    }
  }
}



