  *, *:after, *:before {
    box-sizing: border-box;
  }

  body {
    background: $background-gradient;
    min-height: 100vh;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray;
  }

  ul {
    list-style: none;

    li { display: inline; }
  }

  a {
    color:  $purple;
    text-decoration: none;
  }

  h2 {
    display: block;
    margin: 0;
    padding-bottom: 20px;
  }

  img { max-width: 100%; }

  button {
  font-weight: bold;
  appearance: none;
  outline: none;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px 30px;
  color: $light-purple;
  border: 2px solid $light-purple;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  background: transparent;
  font-size: 20px;
  margin: 20px 0;

  &:before,
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 120%;
    left: -130%;
    height: 120%;
    bottom: 0;
    background: $aqua-green;
    transform: skewX(15deg);
  }

  &:hover,
  &:active {
    border-color: $aqua-green;
    color: $white;

    &:before {
      left: 120%;
      z-index: -1;
    }

    &:after {
      transition-delay: .1s;
      left: -10%;
      z-index: -1;
    }
  }

  &:active {
    transition: all .2s $in-out-back;
    transform: scale(.98);

    &:after,
    &:before { background: darken($aqua-green, 5%); }
  }
}